    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    $white: #fff;
    $gren-olive:#DDD862;
    $yellow:#FFF704;
    $salmon:#FEF0D6;
    $gris-light:#E1E1E1;
    $gris-medium:#9F9D9D;
    $gris-dark:#707070;
    $font-roboto:'Roboto',
    sans-serif;
    $font-robotoSlap:'Roboto Slab',
    serif;
    $shadonw-card: 0px 3px 6px #E1E1E1;
    body {
        font-family: $font-roboto;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        height: 100px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        .header__title {
            font-size: 2em;
            width: 100%;
            padding-left: 0.5em;
            a {
                list-style: none;
                text-decoration: none;
                color: $yellow;
                font-family: $font-robotoSlap;
            }
        }
        nav {
            display: none;
        }
        .header__menu--first-mobile {
            display: initial;
            ul li {
                list-style: none;
                font-size: 2em;
                margin-right: 1em;
                color: $gren-olive;
            }
        }
    }
    
    .section {
        width: 100%;
        height: auto;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .article__card {
        width: 100%;
        background-color: $salmon;
        border-radius: 10px;
        box-shadow: $shadonw-card;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        min-height: 350px;
        height: auto;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }
    
    .article__search {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        input {
            margin: 0 auto;
            margin-top: 20px;
            min-width: 200px;
            width: 80%;
            border: none;
            background-color: $salmon;
            border-bottom: 1px solid $gris-dark;
            outline: none;
        }
    }
    
     ::placeholder {
        font-size: 0.8em;
    }
    
    .article__title {
        width: 200px;
        text-align: center;
        background-color: $gren-olive;
        border-radius: 18px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        h3 {
            font-size: 1.3em;
            color: $white;
        }
    }
    
    .article__skills {
        height: 200px;
    }
    
    .skills__list {
        margin: 40px auto;
        padding: 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        font-size: .8em;
    }
    
    label {
        cursor: pointer;
        input[type="checkbox"] {
            display: inline-block;
            width: 14px;
            height: 19px;
            margin: -1px 10px 0 0;
            vertical-align: middle;
            cursor: pointer;
        }
    }
    
    .button--form {
        min-width: 100px;
        margin-bottom: 20px;
        border: none;
        height: 30px;
        border-radius: 15px;
        font-size: .8em;
        color: $white;
        background-color: $gris-dark;
    }
    
    @media screen and (min-width:767px) {
        .header {
            justify-content: center;
            .header__title {
                font-size: 3em;
            }
            .header__menu--first-mobile {
                display: none;
            }
        }
        .container {
            width: 60%;
        }
        .form {
            font-size: 18px;
        }
        .article__card {
            .article__title {
                width: 300px;
            }
            input {
                width: 60%;
            }
        }
        .skills__list {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 15px;
        }
        .button--form {
            margin-bottom: 70px;
        }
    }
    
    // CHARACTER INDEX ---------------------
    .character__wrapper {
        font-size: 15px;
        .information__title {
            display: flex;
            align-items: center;
            height: 36px;
            background-color: #505050;
            color: $white;
            padding: 10px;
            border-radius: 10px 10px 0 0;
            h2 {
                font-size: .8em;
            }
        }
    }
    
    .botton__down {
        margin-bottom: 30px;
    }
    
    .information__description {
        padding: 20px 20px;
        .propiedad {
            font-size: .9em;
        }
        .valor {
            font-size: .9em;
        }
    }
    
    .information__title {
        display: flex;
        align-items: center;
        height: 36px;
        background-color: #505050;
        color: $white;
        padding: 10px;
        border-radius: none;
        h2 {
            font-size: .8em;
        }
    }
    
    .information__details {
        display: flex;
        justify-content: space-around;
        ul li {
            list-style: none;
        }
    }
    
    .information__title--skills,
    .information__title--level {
        display: flex;
        justify-content: space-around;
    }